footer {
    position: absolute;
    bottom: 0px;
    // background-color: aliceblue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
    gap: 0px;
}
p {
    padding: 0px;
    margin: 0px;
}