*,
*::after,
*::before {
    box-sizing: border-box;
    overflow: hidden;
    cursor: none;
}

$color-primary: #f8f8f8;
$color-secondary: #ff4ecd;

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Pacifico&family=Zeyada&family=Kalam:wght@300&display=swap');

a {
    cursor: none;
    text-decoration: none;
    color: $color-secondary;
    &:hover {
            color: $color-primary;
        }
}

body {
    font-family: 'Kalam', 'Orbitron', cursive, sans-serif;
    margin: 0;
    padding: 0;
    color: $color-primary;
}