*,
*::after,
*::before {
    box-sizing: border-box;
    overflow: hidden;
}

a {
    cursor: none;
}
body {
    background: linear-gradient(135deg, #000000, #1b114f, #301866, #49072e, #0a0a1f);
    background-size: 500% 500%;
    background-attachment: fixed;
    animation: gradientShift 25s ease infinite;
    color: #f8f8f8;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    color: #ff4ecd;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: #ffffff;
    }
}