.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000; // Ensure the overlay is above other content
    pointer-events: none;
}
.container {
    position: absolute;
    /* or relative depending on context */
    width: 80%;
    height: 60%;
    pointer-events: auto;
}

.container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* optional: ensures full container coverage */
    height: 100%;
    /* optional */
    /* or 'contain', depending on visual preference */
}
@keyframes move {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(10px, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

img.rain {
    animation: move 1s linear infinite;
}
